@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    font-family: 'Poppins';
    letter-spacing: 0.02em;
}


/* * * * * * * * *
*                *
*     SIGN IN    *
*                *
* * * * * * * * */
.rowFormulari{
    margin-top: 20vh;
}


.SignInTitle{

    font-weight: 600;
    font-size: 2em;
}

 
.CreateAccountButtonSignIn{
    text-align: start;

}

.NextButtonSignIn{
    text-align: end;
}


 
  @media (max-width: 1400px) { 
    .NextButtonSignIn{
        margin-bottom: 0px;
        
    }
    .CreateAccountButtonSignIn{
        margin-bottom: 0px;
    }
 } 


/* * * * * * * * *
*                *
*     SIGN UP    *
*                *
* * * * * * * * */
@media (min-width: 300px) { 
    .NextButtonSignUp{
        text-align: end;
    }
 }
  @media (max-width: 411px) { 
    .NextButtonSignUp{
        margin-top: 16px;
        
    }
 } 

.SignUpTitle{
    font-weight: bold;
    font-size: 1em;
}




/* * * * * * * * *
*                *
*     MAIN       *
*                *
* * * * * * * * */
.mainPageBody{
    background-color: #e4f1ff;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    background-color: #8fc0fb;
}

div.scrollmenu div {
    display: inline-block;
    background-color: #a2d7f7;
}
.prova{
    padding-bottom: 50vh;
    background-color: #8fc0fb;
}


/* * * * * * * * *
*                *
*   admin page   *
*                *
* * * * * * * * */

.adminPageBody{
    background-color: rgb(95, 95, 95);
}

.adminPageMidContainer{
    background-color: rgb(95, 95, 95);
}

.configurations{
    background-color: rgb(70, 70, 70);
    color: #e1e1e1;
    font-size: 1.5em;
}
.configurations:hover{
    background-color: #adadad;
    color: #000000;
    font-size: 1.5em;
}
.mid{
    background-color: rgb(255, 252, 252);
}

.daycolumn{
    color: #000000;
    font-size: 1.5em;
}
.hourinput{
    color: #000000;
    height: 4vh;
    width: 10vh;
}