@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    font-family: 'Poppins';
    letter-spacing: 0.02em;
}


/* * * * * * * * *
*                *
*     SIGN IN    *
*                *
* * * * * * * * */
.rowFormulari{
    margin-top: 20vh;
}


.SignInTitle{

    font-weight: 600;
    font-size: 2em;
}


    
.CreateAccountButtonSignIn{
    text-align: start;

}

.NextButtonSignIn{
    text-align: end;
}


 
  @media (max-width: 1400px) { 
    .NextButtonSignIn{
        margin-bottom: 0px;
        
    }
    .CreateAccountButtonSignIn{
        margin-bottom: 0px;
    }
 } 


/* * * * * * * * *
*                *
*     SIGN UP    *
*                *
* * * * * * * * */
@media (min-width: 300px) { 
    .NextButtonSignUp{
        text-align: end;
    }
 }
  @media (max-width: 411px) { 
    .NextButtonSignUp{
        margin-top: 16px;
        
    }
 } 

.SignUpTitle{
    font-weight: bold;
    font-size: 1em;
}